.user-page-container {
  background-color: #1e1e2f; /* Dark background */
  color: #f4f4f9; /* Light text color */
  padding: 20px;
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
